@model messManagement.Models.UtilityBill

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UtilityBill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mess.MessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mess.MessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilityCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilityCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
